// 颜色变量
$c-theme: #47a7f6;
$c-red: #DE4313;
$c-orange: #f37b1d;
$c-yellow: #fbbd08;
$c-olive: #8dc63f;
$c-green: #39b54a;
$c-cyan: #1cbbb4;
$c-blue: #0081ff;
$c-purple: #331946;
$c-mauve: #9c26b0;
$c-pink: #e03997;
$c-brown: #a5673f;
$c-grey: #8799a3;
$c-black: #333333;
$c-darkGray: #666666;
$c-gray: #aaaaaa;
$c-ghostWhite: #f1f1f1;
$c-white: #ffffff;
/* 浅色 */
$c-themeLight: #fadbd9;
$c-orangeLight: #fde6d2;
$c-yellowLight: #fef2ce;
$c-oliveLight: #e8f4d9;
$c-greenLight: #d7f0db;
$c-cyanLight: #d2f1f0;
$c-themeLight: #cce6ff;
$c-purpleLight: #e1d7f0;
$c-mauveLight: #ebd4ef;
$c-pinkLight: #f9d7ea;
$c-brownLight: #ede1d9;
$c-greyLight: #e7ebed;



